<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Phonezzz</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </div>

      <div class="col-md-10">
        <table width=600px>
          <tr>
            <th>Phone Name</th>
            <th>Snippet</th>
            <th>ID</th>
          </tr>
          <tr ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <td>{{phone.name}}</td>
            <td>{{phone.snippet}}</td>
            <td>{{$index + 1}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>

</body>
</html>
